{% extends "main/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block headStyle %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.Default.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
{% endblock %}
{% block content %}
	<section>
        <div class="container mt-3 border border-danger p-3">
          <!-- Page Header-->
          <header> 
            <ol class="breadcrumb mb-1 mt-1">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Varanda</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
          </header>
                    {% if messages %}
                        {% for message in messages %} 
                            <div id="divmessage" class="alert alert-{{ message.tags }} alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                              {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
          {% if page == "notifList" %}
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header d-flex justify-content-between text-center">
                  <div>
                    <p>Lista Dadus Monitorizasaun ne'ebe manda mai atu hetan aprovasaun! </p>
                     <!-- <a href="{% url 'mapaLokalizasaunImplementasaunPrograma' %}" class="btn btn-sm btn-dark mr-2" title="Mapa"> <i class="fa fa-map"></i> Mapa Lokalizasaun</a> -->
                  </div>
                  <div class="d-flex justify-content-between">
                     <!-- <a href="{% url 'addImplementasaun' %}" class="btn btn-sm btn-info mr-2" title="Add Data"> <i class="fa fa-plus-square"></i> Adisiona Implementasaun</a> -->
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="example"  class="table table-hover table-striped">
                      <thead>
                        <tr>
                          <th>Nu</th>
                          <th>Programa</th>
                          <th class="text-center"><i class="fa fa-image"></i></th>
                          <th>Pursentu Implementasaun</th>
                          <th>Faze</th>
                          <th>Total Gastu</th>
                          <th>Deskrisaun</th>
                          <th class="text-center">Asaun</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for data in objects %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ data.implementasaun.programa }}</td>
                          <td class="text-center">{% if data.image %}<a href="{{data.image.url}}" target="_blank"><img src="{{data.image.url}}" width="50px" height="50px"></a>{%else%}{%endif%}</td>
                          <td>{{ data.pursentu_programa }}%</td>
                          <td>{{ data.faze }}</td>
                          <td> $ {{ data.orsamentu_gastu }} USD</td>
                          <td>{{ data.komentariu }}</td>
                          <td>
                            <div class="d-flex justify-content-center"> 
                              {% if data.is_approved == False %}
                                <!-- <div class="flex-fill mr-1"><a href="{% url 'approvedImplementasaunPrograma' data.hashed 'list' %}" class="btn btn-sm btn-danger" title="Valida/Aprova Dadus"><i class="fa fa-check"></i> </a></div> -->
                                <button type="button" class="btn btn-sm btn-danger mr-1" title="Rejeita Dadus" data-toggle="modal" data-target="#rejeita-{{ data.id }}" style="text-decoration: none"><i class="fa fa-times"></i> </button>
                                <button type="button" class="btn btn-sm btn-success mr-1" title="Aprova Dadus" data-toggle="modal" data-target="#approva-{{ data.id }}" style="text-decoration: none"><i class="fa fa-check"></i> </button>
                              {% endif %}
                            </div>  
                          </td>
                          <div class="modal fade" id="approva-{{ data.id}}">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                
                                <div class="modal-header">
                                  <h4 class="modal-title">Aprova Dadus Monitorizasaun Implementasaun</h4>
                                  <button type="button" class="close" data-dismiss="modal">X</button>
                                </div>
                                
                                <div class="modal-body">
                                  Ita Boot hakarak Aprova Dadus Monitorizasaun Implementasaun Programa iha suku {{ data.implementasaun.village | upper }}?
                                </div>
                                
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Lae</button>
                                  <a href="{% url 'approvedMonitoringImplementasaunPrograma' data.hashed %}" class="btn btn-info">Sim</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal fade" id="rejeita-{{ data.id}}">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                
                                <div class="modal-header">
                                  <h4 class="modal-title">Rejeita Dadus Monitoring</h4>
                                  <button type="button" class="close" data-dismiss="modal">X</button>
                                </div>
                                
                                <div class="modal-body">
                                  Ita Boot hakarak Rejeita dadus monitoring Implementasaun Programa iha suku {{ data.implementasaun.village | upper }}? Fo Komentariu!
                                  {% csrf_token %}
                                  <form action="{% url 'rejeitaMonitoringImplementasaunPrograma' %}" method="GET">
                                    <input type="hidden" name="hashed" value="{{data.hashed}}">
                                    <input type="hidden" name="list" value="list">
                                    <textarea class="form-control" type="text" name="rejeita_info">
                                    </textarea>
                                </dir>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Lae</button>
                                  <button type="submit" name="submit" class="btn btn-info">Manda</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>

                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if page == "detail" %}
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header d-flex justify-content-between text-center">
                  <div>
                    <p>Detallu Dadus Implementasaun </p>
                     <!-- <a href="{% url 'mapaLokalizasaunImplementasaunPrograma' %}" class="btn btn-sm btn-dark mr-2" title="Mapa"> <i class="fa fa-map"></i> Mapa Lokalizasaun</a> -->
                  </div>
                  <div class="d-flex justify-content-between">
                    {% if objects.is_sent == True and objects.is_approved == True  %}
                     <a href="{% url 'approvedImplementasaunPrograma' objects.hashed 'detail' %}" class="btn btn-sm btn-danger mr-2" title="Aprova / Valida"> <i class="fa fa-check"></i> Aprova</a>
                     {% endif %}
                    }
                  </div>
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <tr><th>Munisipiu</th><td>: {{ objects.municipality }}</td></tr>
                        <tr><th>Postu</th><td>: {{ objects.administrativepost }}</td></tr>
                        <tr><th>Suku</th><td>: {{ objects.village }}</td></tr>
                        <tr><th>Programa</th><td>: {{ objects.programa }}</td></tr>
                        <tr><th>Orsamentu Alokasaun</th><td>: {{ objects.montanteOsanAlokasaun }}</td></tr>
                        <tr><th>Status</th><td>: {{ objects.statusImplementasaun }}</td></tr>
                        <tr><th>Progressu</th><td>: {{ objects.address }}</td></tr>
                    </table>
                    <hr/>
                    {% if objects.image %}
                      <a href="{{objects.image.url}}" target="_blank"><img src="{{objects.image.url}}" width="150px" height="150px"></a>
                    {% endif %}
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div id="mapid" style="width: 100%; height: 450px;"></div>
            </div>
          </div>
          {% endif %}
        </div>
      </section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready( function () {
        var table = $('#example').removeAttr('width').DataTable( {
            
        });
    } );
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoukaK1udD0Z4erUsxwkYzRKTOWmJid34"></script>
                  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoukaK1udD0Z4erUsxwkYzRKTOWmJid34&libraries=places"></script>
<script>
    var mymap = L.map('mapid').setView([{{ objects.implementationLocation.latitude }}, {{ objects.implementationLocation.longitude }}], 15);

    // L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    //     attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    //     maxZoom: 18,
    //     id: 'mapbox/streets-v11',
    //     tileSize: 512,
    //     zoomOffset: -1,
    //     accessToken: 'pk.eyJ1IjoibG9iYXRvcGVyZWlyYSIsImEiOiJja2duaW8zOWcyMXFkMnp0ZWFjcm54M2xmIn0.C_ag6jiaMLzA8mz2hPc6xQ'
    // }).addTo(mymap);
     L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
                  attribution: 'Google Maps',
                  maxZoom: 20,
                  subdomains:['mt0','mt1','mt2','mt3']
                  }).addTo(mymap);
    L.marker([{{ objects.implementationLocation.latitude }}, {{ objects.implementationLocation.longitude }}]).addTo(mymap)
      .bindPopup("Programa: {{ objects.programa }}<br/>Suku : {{ objects.village }}<br/> Status : {{ objects.statusImplementasaun }}").openPopup();

    var popup = L.popup();
  </script>
{% endblock %}